@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
/* TODO:(Maintenance) keep chessboard border and text color the same, dropdown menu and black square color the same*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans SC", serif !important;
}

img {
  transition: all .2s;
}

.dropdown-button {
  background-color: 'none';
  display: inline-block;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 53%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 47%;
  padding: 10px;
}

.board {
  display: inline-block;
}

h1 {
  text-align: center;
}

.board-row {
  display: flex;
}

.square {
  width: 90px;
  height: 90px;
  border: 0px;
}